.cart-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  padding: 15px;
  border: 13px solid #ddd;
  border-radius: 1px;
  background: rgb(255, 255, 253);
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item-details {
  margin-left: 20px;
  flex-grow: 8;
}

.quantity-controls {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.cart-summary {
  margin-top: 30px;
  padding: 40px;
  border-top: 8px solid #ddd;
  max-width: 1000px; /* Added: limit width */
  text-align: center;
}

.checkout-btn {
  background: #ecc74c;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
.checkout-btn:hover {
  background-color: #51ee32;
}

.checkout-btn:active {
  transform: scale(0.95);
}

.remove-btn {
  background-color: #ff4444;
  color: rgb(23, 22, 22);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 200;
  transition: background-color 0.3s ease;
}

.remove-btn:hover {
  background-color: #ff0000;
}

.remove-btn:active {
  transform: scale(0.95);
}
